<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hospital_System_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hospital_System_2._0.Properties.Settings>
            <setting name="NameSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IDSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="AmtSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IDSetting2" serializeAs="String">
                <value />
            </setting>
            <setting name="IDIsSaved" serializeAs="String">
                <value>False</value>
            </setting>
        </Hospital_System_2._0.Properties.Settings>
    </userSettings>
</configuration>